<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaulthref="/tab/(characters:characters)">
      <ion-back-button></ion-back-button>
    </ion-buttons slot="end">
    <ion-title>{{ character?.name }}</ion-title>
    
     
    
  </ion-toolbar>
</ion-header>

<ion-content padding="">

  <ion-card *ngIf="character" class="movie-card">
    <ion-card-header>Episode {{ characters.nickname }}: {{ characters.accupation }}</ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
 
    
  </ion-card>
  
    

</ion-content>
